html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
    color:gray !important;
	font-family: 'Inter', Arial, Helvetica, sans-serif;
}
/* You can add global styles to this file, and also import other style files */

.pointer {
	cursor: pointer !important;
}

small {
	font-size: 0.75rem !important;
	margin: 0 !important;
	padding: 0 !important;
}

h6 {
	font-size: medium !important;
	font-weight: 500 !important;
}